# CI = Continuous Integration, not to be confused with "rv ci" (clean-install)
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

permissions: read-all

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans sources

    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check ${{ matrix.checks }}

  lint-and-fmt:
    name: Lint and format
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Run linters and formatters
        run: ./bin/lint

      - name: Run rv
        run: ./bin/rv --version

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-15-intel]
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: ./bin/rv --version

  manage-external-rubies:
    name: External Ruby management
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [jruby-10.0.2.0, truffleruby-33.0.0]

    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install external Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Run external Ruby
        run: bin/rv --ruby-dir "$(dirname $(dirname $(dirname $(which ruby))))" ruby run ${{ matrix.ruby }} -- --version
