name: Smoke Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

permissions: read-all

env:
  CARGO_TERM_COLOR: always

jobs:
  discourse:
    name: Discourse clean-install test
    runs-on: ubuntu-latest
    steps:
      - name: Build rv
        uses: ./.github/actions/build-rv

      - name: Run smoke test
        run: make smoke-test-discourse
